@model ProductItem
@*
        ViewData["Title"] = "Home Page";
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Detail Page";
}

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            @{

            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.ImageSource" alt="..." /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">@Model.Name</h1>
                <div class="fs-5 mb-5">
                    <span>@Model.Price</span>
                    <span>$</span>
                </div>
                <h8 class=" fw-normal p-2">Category: @Model.Category</h8>
                <br />
                <h6 class=" fw-normal p-2">About: <p class="lead">@Model.About</p></h6>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button"
                            onclick="Buy(@Model.ID,'@Url.Action("AddOrderItemsToSession", "CustomerOrderNotCart", new { Area = "Customer" })', '#total_price', '@System.Globalization.CultureInfo.CurrentCulture.Name')">
                        <i class="bi-cart-fill me-1"></i>
                        Buy
                    </button>
                </div>
            </div>
            }
        </div>
    </div>
</section>

@section Scripts
{ 
    <environment include="Development">
        <script src="~/js/Product.js"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/Product.min.js"></script>
    </environment>
}
